<?xml version="1.0" ?> 
<settings>
	<TFT_characteristics>
	<!-- _WARNING_ characteristic name should be unique. If you want to use variants you should do the following ie. SiN and SiN_2 -->
		<characteristic name="SiN" eps_r="8.5" t_ox="50" W="60" L="20"/>
	</TFT_characteristics>
	<constants>
		<constant name="compliance_current" value="0.1"/>
		<constant name="compliance_voltage" value="30"/>
		<constant name="vg_start" value="-30"/>
		<constant name="vg_end" value="30"/>
		<constant name="step" value="2e-1"/>
		<constant name="vds" value="1"/>
	</constants>
</settings>